.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 10px 20px;
  align-items: center;
  background-color: white;
}
.logo {
  font-weight: bold;
  color: blueviolet;
}
.nav-links {
  display: flex;
  gap: 20px;
  font-weight: 600;
}
a.active {
  color: blueviolet;
}
