.card-container {
  padding: 1rem 2rem;
  border: 1px solid rgba(144, 13, 176, 0.623);
  border-radius: 16px;
  background-color: white;
  min-height: 150px;
  position: relative;
  margin-bottom: 10px;
}
.card-container-content {
  font-size: 20px;
  font-weight: 600;
}
.card-container-author {
  font-size: 16px;
  color: rgb(93, 93, 93);
  text-transform: capitalize;
}
.card-container-footer {
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 10px;
  font-weight: 600;
  color: rgb(33, 33, 33);
}
#rating {
  padding: 8px;
  font-size: 1rem;
  background-color: white;
  border: none;
}
