.all-jokes {
  margin-top: 30px;
  padding: 10px;
  border: 2px solid rgba(144, 13, 176, 0.623);
  border-radius: 16px;
  max-height: 70vh;
  overflow-y: auto;
}
.all-jokes h2 {
  margin-bottom: 20px;
}
.all-jokes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jokes-container {
  @media only screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
